<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dietandnutritionapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DietAndNutritionApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".URegisterFragment" />
        <activity android:name=".NutritionRegister"/>
        <activity android:name=".Login"/>
        <activity android:name=".AccountDetailsFragment"/>
        <activity android:name=".AdminHomeFragment"/>
        <activity android:name=".FAQFragment"/>
        <activity android:name=".ProfileAFragment"/>
        <activity android:name=".NutriUpdateProfilePage"/>
        <activity android:name=".NutriHomeFragment"/>
        <activity android:name=".BookingHistoryFragment"/>


    </application>

</manifest>